body {
  font-family: sans-serif;
  max-width: 1100px;
  margin: 2rem auto;
}

canvas {
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 1rem;
}

button {
  margin: 0.5rem 0;
}

.crop-wrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.crop-container {
  width: 600px;
  background: #eee;
}

.crop-container img {
  display: block;
  max-width: 100%;
}

.preview-container {
  width: 300px;
}

.img-preview {
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border: 1px solid #ccc;
}