* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

#fileInput {
  display: block;
  margin: 1rem auto;
}

canvas {
  border: 1px solid #ccc;
  display: block;
  margin: 1rem auto;
}

/* Hide preview canvases by default */
#outputCanvas,
#deviceCanvas {
  display: none;
}

button {
  /*margin: 0.5rem 0;*/
  display: block; 
  margin: auto;
}

.crop-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.crop-container {
  width: 100%;
  max-width: 300px;
  background: #eee;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 1rem;
}

.crop-container img {
  display: block;
  max-width: 100%;
}

.preview-container {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
}

.img-preview {
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border: 1px solid #ccc;
}